# The Y dimension extends with the piece length
[0]
DPI = 20
ScanRegionInchesX = 199
ScanRegionInchesY = 23

[1]
DPI = 20
ScanRegionInchesX = 76.5
ScanRegionInchesY = 23

[2]
DPI = 20
ScanRegionInchesX = 41.5
ScanRegionInchesY = 23

[3]
DPI = 20
ScanRegionInchesX = 45.5
ScanRegionInchesY = 23

[4]
DPI = 20
ScanRegionInchesX = 28
ScanRegionInchesY = 23
