# The Y dimension extends with the piece length

[0]
DPI = 20
ScanRegionInchesX = 76.5
ScanRegionInchesY = 24
#Starting resoution is 1280x720
#Resulting resolution is 1530x460

[1]
DPI = 20
ScanRegionInchesX = 41.5
ScanRegionInchesY = 24
#Starting resoution is 1280x720
#Resulting resolution is 830x480

[2]
DPI = 20
ScanRegionInchesX = 45.5
ScanRegionInchesY = 24
#Starting resoution is 1280x720
#Resulting resolution is 910x480


[3]
DPI = 20
ScanRegionInchesX = 42
ScanRegionInchesY = 24
#Starting resoution is 1280x720
#Resulting resolution is 840x480

[4]
DPI = 20
ScanRegionInchesX = 100
ScanRegionInchesY = 24
#Starting resoution is 1980x1080
#Resulting resolution is 2000x480

[5]
DPI = 20
ScanRegionInchesX = 114
ScanRegionInchesY = 24
#Starting resoution is 1980x1080
#Resulting resolution is 2280x480
